body {
  min-width: 1200px;
}

a.normal {
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

.main-header {
  background-color: #fff;
}

.ant-menu-dark {
  background-color: #3f3f3f;
  .ant-menu-item-selected {
    background-color: #979797 !important;
  }
}
.ant-layout-content {
  // flex: none;
  flex-shrink: 0;
}
.ant-select {
  width: 200px;
}
.ant-row {
  margin-bottom: 20px;
}

.ant-form-item {
  text-align: left;
  display: flex;
  .ant-form-item-label {
    flex: 0 1 auto;
    min-width: 200px;
  }
  .ant-form-item-control-wrapper {
    flex: 1 1 auto;
  }
}
