@import "../../variable";
.rock-block {
  border: 1px solid #bbb;
  height: 46px;
  font-size: 12px;
  padding: 3px;
  background-color: $colorNull;
  cursor: pointer;
  &.active {
    background-color: $colorActive;
  }
  &.full {
    background-color: $colorFull;
  }
  h4 {
    font-size: inherit;
    line-height: 19px;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
    transition: all 0.2s;
  }
  &:hover {
    h4 {
      color: #389ffd;
    }
  }
  p {
    font-size: inherit;
    color: #333;
    margin-bottom: 0;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    span {
      padding-left: 3px;
    }
  }
}
